<div class="institucional-container row">
    <div class="institucional-block" style="background-image: url('/assets/img/institucional/top.jpg')">
        <div class="col-sm-6 text-center">
            <h1>{{DadosPagina.title}}</h1>
        </div>
    </div>
    <div class="institucional-block has-text">
        <div class="container">
            <span ng-if="load"><i class="fa fa-spin fa-spinner fa-2x"></i></span>
            <p ng-bind-html="DadosPagina.block1 | unsafe"></p>
        </div>
    </div>
    <div class="institucional-block has-text" style="background-image: url('/assets/img/institucional/middle.jpg')">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-6 light-text">
                <p ng-bind-html="DadosPagina.block2 | unsafe"></p>
            </div>
        </div>
    </div>
    <div class="institucional-block has-text">
        <div class="container">
            <div class="col-sm-6 light-text">
                <p ng-bind-html="DadosPagina.block3 | unsafe"></p>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3 icon-col">
                        <img class="img-responsive" src="/assets/img/institucional/icon.png" />
                        <div class="icon-text">lorem ipsum dolor</div>
                    </div>
                    <div class="col-sm-3 icon-col">
                        <img class="img-responsive" src="/assets/img/institucional/icon.png" />
                        <div class="icon-text">lorem ipsum dolor</div>
                    </div>
                    <div class="col-sm-3 icon-col">
                        <img class="img-responsive" src="/assets/img/institucional/icon.png" />
                        <div class="icon-text">lorem ipsum dolor</div>
                    </div>
                    <div class="col-sm-3 icon-col">
                        <img class="img-responsive" src="/assets/img/institucional/icon.png" />
                        <div class="icon-text">lorem ipsum dolor</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>