.container.content-padding {
  padding-top: 50px; }

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

a {
  cursor: pointer; }

textarea {
  resize: vertical; }

.slide-item a, .slide-item a:hover {
  text-decoration: none !important; }

.btn {
  text-transform: uppercase;
  font-weight: bold; }
  .btn.btn-bolder {
    font-weight: 900; }
  .btn.btn-success {
    background: #98ca3c;
    border-color: #98ca3c; }
  .btn.btn-primary {
    background: #293189;
    border-color: #293189; }
  .btn.btn-facebook {
    background: #6d84b4;
    border-color: #6d84b4;
    color: #FFFFFF; }
  .btn.btn-square {
    border-radius: 0px; }
  .btn.btn-xlg {
    font-size: 24px;
    padding: 10px 25px; }
  .btn.btn-clear-filter {
    background: #535353;
    color: #FFFFFF; }
  .btn.btn-grey {
    color: #535353; }

.text-success {
  color: #98ca3c; }

.rainbow-line {
  background: -moz-linear-gradient(left, #ed1c24 0%, #ed1c24 25%, #293189 25%, #293189 50%, #98ca3c 50%, #98ca3c 75%, #fecd08 75%, #fecd08 100%);
  background: -webkit-linear-gradient(left, #ed1c24 0%, #ed1c24 25%, #293189 25%, #293189 50%, #98ca3c 50%, #98ca3c 75%, #fecd08 75%, #fecd08 100%);
  background: linear-gradient(to right, #ed1c24 0%, #ed1c24 25%, #293189 25%, #293189 50%, #98ca3c 50%, #98ca3c 75%, #fecd08 75%, #fecd08 100%);
  display: block;
  height: 3px; }
  .rainbow-line.lg {
    height: 10px; }
  .rainbow-line.limit {
    max-width: 220px; }

.has-overlay {
  position: relative; }
  .has-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; }
    .has-overlay .overlay i {
      font-size: 40px;
      top: 50%;
      position: relative;
      transform: translateY(-50%); }

.newsletter-group {
  text-align: center; }
  .newsletter-group i {
    font-size: 40px; }
  .newsletter-group span {
    font-size: 20px;
    margin-top: 10px;
    display: block; }
    .newsletter-group span small {
      color: #FFFFFF;
      font-size: 12px;
      display: block;
      font-weight: normal; }
  .newsletter-group.newsletter-success {
    color: #98ca3c; }
  .newsletter-group.newsletter-warning {
    color: #ed1c24; }

.form-control, .form-control[disabled] {
  background: transparent;
  border: 2px solid rgba(115, 115, 115, 0.5);
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #BCBCBC; }
  .form-control.input-white, .form-control[disabled].input-white {
    background: #FFFFFF;
    border: 2px solid #293189;
    color: #293189; }

.search-icon {
  color: #BCBCBC;
  font-size: 18px; }

hr.hr-small {
  margin: 10px 0px; }

.banner-container {
  max-height: 350px;
  overflow: hidden; }
  .banner-container .carousel-indicators {
    text-align: left;
    width: auto;
    margin: 0;
    left: 9%; }
  .banner-container .carousel-control {
    width: 5%; }

h3 {
  font-weight: bold;
  color: #293189;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0px; }
  h3.filter-heading {
    font-size: 17px; }

h4 {
  color: #535353;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px; }

.filter-group {
  margin: 30px 0px; }
  .filter-group .filter-items {
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    max-height: 160px; }
    .filter-group .filter-items label {
      color: #909090;
      display: block;
      font-size: 13px; }
  .filter-group .form-control {
    font-size: 11px;
    padding-right: 23px; }

.home-slider, .box-slider {
  margin: 40px 0px 80px; }
  .home-slider .slider-header, .box-slider .slider-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #BCBCBC; }
    .home-slider .slider-header h3, .box-slider .slider-header h3 {
      font-size: 25px;
      font-weight: 900; }
      .home-slider .slider-header h3 .slider-dots, .box-slider .slider-header h3 .slider-dots {
        float: right;
        margin-top: 11px; }
        .home-slider .slider-header h3 .slider-dots .slick-dots, .box-slider .slider-header h3 .slider-dots .slick-dots {
          padding: 0px;
          margin: 0px; }
        .home-slider .slider-header h3 .slider-dots li, .box-slider .slider-header h3 .slider-dots li {
          float: left;
          width: 25px;
          list-style-type: none;
          background: #CCCCCC;
          height: 6px;
          margin: 0px 1px 0px;
          cursor: pointer; }
          .home-slider .slider-header h3 .slider-dots li.slick-active, .box-slider .slider-header h3 .slider-dots li.slick-active {
            background: #535353; }
        .home-slider .slider-header h3 .slider-dots button, .box-slider .slider-header h3 .slider-dots button {
          display: none; }
    .home-slider .slider-header .rainbow-line, .box-slider .slider-header .rainbow-line {
      width: 200px;
      height: 4px; }
  .home-slider .slider-content, .box-slider .slider-content {
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 160px; }
    .home-slider .slider-content .slider-arrow, .home-slider .slider-content slick, .home-slider .slider-content .is-slick, .box-slider .slider-content .slider-arrow, .box-slider .slider-content slick, .box-slider .slider-content .is-slick {
      float: left; }
    .home-slider .slider-content slick, .home-slider .slider-content .is-slick, .box-slider .slider-content slick, .box-slider .slider-content .is-slick {
      width: 90%;
      left: 5%;
      height: 100%; }
      .home-slider .slider-content slick .slide-item, .home-slider .slider-content .is-slick .slide-item, .box-slider .slider-content slick .slide-item, .box-slider .slider-content .is-slick .slide-item {
        padding: 0px 10px; }
    .home-slider .slider-content .slider-arrow, .box-slider .slider-content .slider-arrow {
      width: 5%;
      height: 100%;
      position: absolute;
      background: #EEEEEE;
      text-align: center;
      cursor: pointer; }
      .home-slider .slider-content .slider-arrow[rel="prev-arrow"], .box-slider .slider-content .slider-arrow[rel="prev-arrow"] {
        left: 0;
        top: 0; }
      .home-slider .slider-content .slider-arrow[rel="next-arrow"], .box-slider .slider-content .slider-arrow[rel="next-arrow"] {
        right: 0;
        top: 0; }
      .home-slider .slider-content .slider-arrow i, .box-slider .slider-content .slider-arrow i {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 32px;
        color: #BCBCBC; }
      @media (max-width: 995px) {
        .home-slider .slider-content .slider-arrow, .box-slider .slider-content .slider-arrow {
          display: none; }
          .home-slider .slider-content .slider-arrow slick, .home-slider .slider-content .slider-arrow .is-slick, .box-slider .slider-content .slider-arrow slick, .box-slider .slider-content .slider-arrow .is-slick {
            width: 100%;
            left: 0%; } }

.home-featured-slider .slide-item img {
  border: 1px solid #535353;
  border-radius: 6px; }

.product-slider .slide-item {
  padding: 0px 3px !important; }
  .product-slider .slide-item .slide-product {
    overflow-x: hidden;
    padding: 5px 10px;
    border: 1px solid #BCBCBC; }
    .product-slider .slide-item .slide-product .product-winehouse {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      color: #BCBCBC;
      white-space: nowrap;
      text-align: center;
      border-bottom: 1px solid #CCCCCC;
      padding-bottom: 3px; }
      .product-slider .slide-item .slide-product .product-winehouse .winehouse-icon {
        float: left;
        width: 12px;
        margin-right: 5px; }
    .product-slider .slide-item .slide-product .product-like {
      position: absolute;
      top: 5px;
      left: 0;
      color: #CCC;
      font-size: 20px;
      cursor: pointer; }
      .product-slider .slide-item .slide-product .product-like.liked {
        color: #ed1c24; }
    .product-slider .slide-item .slide-product .product-image {
      text-decoration: none;
      position: relative;
      border-bottom: 1px solid #CCCCCC;
      padding-bottom: 5px;
      height: 200px;
      overflow: hidden; }
      .product-slider .slide-item .slide-product .product-image > img {
        height: 100% !important;
        margin: 0 auto;
        max-width: 100%;
        display: block; }
      .product-slider .slide-item .slide-product .product-image .product-country {
        font-weight: bold;
        color: #909090;
        font-size: 10px;
        text-align: center;
        width: 20px;
        position: absolute;
        right: 5px;
        bottom: 5px; }
        .product-slider .slide-item .slide-product .product-image .product-country .country-icon {
          width: 20px;
          display: block;
          margin: 0 auto; }
    .product-slider .slide-item .slide-product .product-info .product-name {
      font-weight: 800;
      font-size: 14px;
      color: #535353;
      margin-top: 5px;
      height: 40px;
      overflow-y: hidden; }
    .product-slider .slide-item .slide-product .product-info .product-type {
      text-transform: uppercase;
      font-weight: bold;
      color: #BCBCBC;
      font-size: 12px; }
    .product-slider .slide-item .slide-product .product-actions {
      border-top: 1px solid #CCCCCC;
      padding-top: 7px;
      margin-top: 7px; }
      .product-slider .slide-item .slide-product .product-actions .product-price {
        font-weight: 900;
        font-size: 21px;
        color: #535353; }
        .product-slider .slide-item .slide-product .product-actions .product-price small {
          font-size: 10px;
          float: left;
          margin-top: 5px; }
      .product-slider .slide-item .slide-product .product-actions .product-added {
        padding: 20px 0px;
        font-weight: bold;
        font-size: 18px;
        color: #909090; }
        .product-slider .slide-item .slide-product .product-actions .product-added i {
          color: #98ca3c;
          font-size: 30px; }

.home-filtered {
  margin: 30px 0px; }

.home-group .group-header {
  border-bottom: 1px solid #909090; }
  .home-group .group-header .rainbow-line {
    max-width: 220px; }
  .home-group .group-header h3 {
    font-weight: normal;
    font-size: 25px; }
  .home-group .group-header .header-buttons {
    float: right; }
    .home-group .group-header .header-buttons label {
      font-size: 12px;
      font-weight: bold;
      text-transform: none;
      margin-right: 3px; }
    .home-group .group-header .header-buttons .btn {
      color: #293189;
      border-color: #293189; }
      .home-group .group-header .header-buttons .btn.active {
        background: #293189;
        color: #FFFFFF; }
.home-group .group-tags {
  margin: 10px 0px; }
.home-group .group-products {
  margin-bottom: 50px; }
  .home-group .group-products .slide-item {
    margin-top: 30px; }
    .home-group .group-products .slide-item a, .home-group .group-products .slide-item a:hover {
      text-decoration: none !important; }
    .home-group .group-products .slide-item.is-list .product-image {
      border-bottom: none;
      border-right: 1px solid #CCCCCC; }
      .home-group .group-products .slide-item.is-list .product-image .product-country {
        right: 15px; }
    .home-group .group-products .slide-item.is-list .product-actions {
      border: none; }
      .home-group .group-products .slide-item.is-list .product-actions .product-button {
        display: block;
        float: none !important;
        margin-top: 25px; }
      .home-group .group-products .slide-item.is-list .product-actions .product-price {
        display: block;
        text-align: center;
        font-size: 35px !important; }
        .home-group .group-products .slide-item.is-list .product-actions .product-price small {
          float: none !important;
          font-size: 15px !important; }
      .home-group .group-products .slide-item.is-list .product-actions .product-buy {
        float: none;
        margin: 0 auto; }
    .home-group .group-products .slide-item .product-button {
      margin-top: 10px; }
.home-group .group-pagination {
  color: #293189;
  font-weight: bold;
  font-size: 15px; }

.form-title {
  border-bottom: 1px solid #CCCCCC; }
  .form-title h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: #293189; }

.form-actions {
  font-weight: bold;
  color: #909090;
  font-size: 17px;
  margin: 30px 0px 40px; }
  .form-actions .btn-xlg {
    margin: 5px 0px 40px; }

.form-info {
  font-size: 13px;
  margin-top: 10px; }

.uppercase-info {
  border-bottom: 2px solid #CCCCCC;
  position: relative;
  height: 0px; }
  .uppercase-info span {
    background: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    top: -7px;
    position: absolute;
    padding: 0px 5px;
    left: 50%;
    transform: translateX(-50%); }

.form-footer {
  border-top: 1px solid #CCCCCC;
  text-align: center;
  padding: 30px 0px;
  font-size: 22px;
  font-weight: bold;
  color: #535353; }
  .form-footer a {
    text-decoration: underline; }

.form-lg .form-group {
  margin-bottom: 30px; }
  .form-lg .form-group > label {
    color: #293189;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%; }
    .form-lg .form-group > label small {
      float: right;
      text-transform: none;
      font-weight: normal;
      font-size: 14px;
      color: #535353;
      margin-top: 5px; }
    .form-lg .form-group > label[rel="radio"], .form-lg .form-group > label[rel="checkbox"] {
      color: #535353;
      font-weight: bold;
      text-transform: none;
      font-size: 19px;
      width: auto;
      margin-right: 40px; }
    .form-lg .form-group > label[rel="checkbox"] {
      width: 100%;
      font-size: 17px; }
  .form-lg .form-group .form-control {
    text-transform: none;
    color: #909090;
    padding: 20px 10px;
    font-size: 16px; }
  .form-lg .form-group select.form-control {
    padding: 10px !important; }

.banner-winehouse {
  background: url("../img/winehouse_bg.jpg");
  height: 350px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  position: relative; }
  .banner-winehouse .winehouse-welcome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%; }
    .banner-winehouse .winehouse-welcome .top {
      color: #fecd08;
      display: block;
      font-size: 25px; }
    .banner-winehouse .winehouse-welcome .bottom {
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      color: #FFFFFF;
      font-size: 40px; }

.product-buy {
  width: 100px;
  float: right; }
  .product-buy .btn-sum, .product-buy .form-control {
    background: none;
    border: 1px solid #293189;
    color: #293189;
    text-align: center; }

.product-box-container {
  background: #EEEEEE;
  padding: 10px 0px; }
  .product-box-container h4 {
    font-size: 22px;
    font-weight: 900;
    color: #293189; }
    .product-box-container h4 small {
      text-transform: none;
      margin-left: 30px;
      font-size: 14px;
      color: #535353; }
  .product-box-container .box-price .price-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0; }
  .product-box-container .box-price .price-value {
    color: #293189;
    font-weight: bold;
    font-size: 35px;
    line-height: 25px; }
    .product-box-container .box-price .price-value small {
      font-size: 12px;
      float: left;
      margin-top: -3px;
      margin-right: 4px; }
  .product-box-container .box-price .price-payment {
    color: #293189;
    margin: 10px 0px;
    font-size: 11px; }
  .product-box-container .box-coupon {
    margin-top: 10px; }
    .product-box-container .box-coupon label {
      color: #293189;
      font-size: 12px;
      margin: 0; }
    .product-box-container .box-coupon .form-control {
      background: #FFFFFF;
      border: 2px solid #293189;
      color: blue; }

.box-slider {
  margin: 0px; }
  .box-slider .slider-arrow {
    background: #CCCCCC; }
  .box-slider .box-item {
    padding: 5px;
    position: relative; }
    .box-slider .box-item .box-slide-product > div {
      display: inline-block; }
    .box-slider .box-item .box-slide-product .product-image {
      text-align: center;
      width: 30%;
      float: left; }
      .box-slider .box-item .box-slide-product .product-image img {
        max-height: 150px;
        width: auto; }
    .box-slider .box-item .box-slide-product .product-info {
      float: right;
      width: 70%; }
      .box-slider .box-item .box-slide-product .product-info .product-name {
        font-size: 12px;
        font-weight: bold;
        height: 55px; }
      .box-slider .box-item .box-slide-product .product-info .product-type {
        text-transform: uppercase;
        color: #BCBCBC;
        font-weight: bold;
        font-size: 11px; }
      .box-slider .box-item .box-slide-product .product-info .action-label {
        margin: 0;
        font-size: 11px;
        color: #293189; }
      .box-slider .box-item .box-slide-product .product-info .product-buy {
        float: none;
        width: 70px; }
        .box-slider .box-item .box-slide-product .product-info .product-buy input, .box-slider .box-item .box-slide-product .product-info .product-buy button {
          background: white !important;
          padding: 5px !important; }
      .box-slider .box-item .box-slide-product .product-info .product-price {
        font-size: 20px;
        font-weight: 900; }
        .box-slider .box-item .box-slide-product .product-info .product-price small {
          font-size: 11px;
          float: left;
          margin-top: 4px; }

.winehouse-featured h3 {
  text-transform: none;
  color: #535353;
  font-size: 35px;
  margin-bottom: 30px; }
.winehouse-featured .product-info {
  text-transform: uppercase;
  font-weight: bold;
  color: #BCBCBC;
  font-size: 17px; }
  .winehouse-featured .product-info .country-icon {
    width: 20px;
    margin: 0px 5px 0px 20px; }
  .winehouse-featured .product-info .product-like {
    color: #CCC;
    font-size: 20px;
    cursor: pointer; }
    .winehouse-featured .product-info .product-like.liked {
      color: #ed1c24; }
.winehouse-featured .product-description {
  font-size: 13px;
  font-weight: bold;
  color: #808080;
  line-height: 25px; }
.winehouse-featured th {
  color: #293189; }
.winehouse-featured td {
  color: #909090; }
.winehouse-featured .top {
  position: relative;
  z-index: 1;
  pointer-events: none; }
  .winehouse-featured .top .container .col-sm-7 {
    pointer-events: auto; }
.winehouse-featured .bottom {
  background: #98ca3c;
  padding-bottom: 20px;
  position: relative;
  top: -200px;
  z-index: 0; }
  .winehouse-featured .bottom .product-price {
    color: white;
    font-size: 60px;
    font-weight: 900; }
    .winehouse-featured .bottom .product-price small {
      float: left;
      font-size: 30px;
      margin-top: 20px;
      margin-right: 10px; }
  .winehouse-featured .bottom label {
    color: #293189; }
  .winehouse-featured .bottom .product-buy {
    float: none;
    width: 120px; }
    .winehouse-featured .bottom .product-buy input, .winehouse-featured .bottom .product-buy button {
      background: #FFFFFF; }
  .winehouse-featured .bottom .prod-line {
    display: inline-block;
    width: 100%; }
  .winehouse-featured .bottom .product-payment {
    color: #293189;
    font-size: 13px; }
  .winehouse-featured .bottom .product-added {
    color: #293189;
    font-size: 30px; }

.winehouse-main {
  position: relative;
  top: -140px; }

.payment-col {
  padding-top: 15px; }
  .payment-col h3 {
    font-weight: 900;
    color: #535353;
    font-size: 24px;
    margin-bottom: 20px; }
  .payment-col.payment-box {
    background: #EEEEEE;
    padding: 15px; }
    .payment-col.payment-box h3 {
      color: #293189;
      margin-bottom: 0px; }
    .payment-col.payment-box .payment-box-item {
      border-top: 1px solid #909090;
      margin-top: 15px;
      display: inline-block;
      width: 100%;
      padding-top: 10px; }
      .payment-col.payment-box .payment-box-item .item-name {
        font-size: 12px;
        font-weight: bold;
        color: #535353;
        margin-bottom: 10px; }
      .payment-col.payment-box .payment-box-item .item-info .product-buy {
        float: left;
        width: 70px; }
        .payment-col.payment-box .payment-box-item .item-info .product-buy input, .payment-col.payment-box .payment-box-item .item-info .product-buy button {
          background: #FFFFFF;
          padding: 5px;
          height: 25px; }
        .payment-col.payment-box .payment-box-item .item-info .product-buy button {
          font-size: 9px; }
      .payment-col.payment-box .payment-box-item .item-info .item-price {
        text-transform: uppercase;
        color: #909090;
        float: left;
        width: 70px;
        font-size: 11px;
        font-weight: bold;
        margin-left: 5px; }
      .payment-col.payment-box .payment-box-item .item-info .item-total {
        float: right;
        font-size: 18px;
        font-weight: 900;
        color: #535353; }
        .payment-col.payment-box .payment-box-item .item-info .item-total span {
          float: left;
          font-size: 10px; }
  .payment-col.payment-shipment {
    background: #98ca3c;
    color: #293189;
    padding: 20px 15px; }
    .payment-col.payment-shipment hr {
      border-color: #535353; }
    .payment-col.payment-shipment .shipment-info {
      display: inline-block;
      width: 100%; }
      .payment-col.payment-shipment .shipment-info .shipment-total {
        float: right;
        font-size: 20px;
        font-weight: 900; }
        .payment-col.payment-shipment .shipment-info .shipment-total span {
          font-size: 12px;
          float: left; }
      .payment-col.payment-shipment .shipment-info .shipment-label {
        float: left;
        max-width: 120px;
        font-weight: bold; }
    .payment-col.payment-shipment input, .payment-col.payment-shipment select, .payment-col.payment-shipment .shipment-coupon input, .payment-col.payment-shipment .shipment-coupon select {
      border-color: #293189;
      color: #293189; }
  .payment-col.payment-total {
    background: #293189;
    color: #FFFFFF;
    padding: 40px 15px;
    font-weight: 900; }
    .payment-col.payment-total .total-info {
      display: inline-block;
      width: 100%; }
      .payment-col.payment-total .total-info .total-label {
        text-transform: uppercase;
        font-size: 20px;
        float: left;
        padding-top: 9px; }
      .payment-col.payment-total .total-info .total-value {
        float: right;
        font-size: 27px; }
        .payment-col.payment-total .total-info .total-value span {
          float: left;
          font-size: 13px; }
  .payment-col.has-border {
    border-right: 1px solid #BCBCBC; }
    .payment-col.has-border h3 {
      margin-left: 15px; }
  .payment-col .radio-label {
    display: inline;
    text-transform: none !important;
    color: #909090 !important;
    font-weight: bold !important;
    font-size: 17px !important;
    margin-right: 20px; }
  .payment-col .payment-address {
    margin: 25px 15px;
    border: 2px solid #BCBCBC;
    border-radius: 3px;
    padding: 10px 15px;
    color: #535353;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; }
    .payment-col .payment-address strong {
      font-weight: 900; }
    .payment-col .payment-address hr {
      margin: 8px 0px; }
    .payment-col .payment-address .address-name {
      text-transform: uppercase;
      font-weight: 900;
      color: #293189;
      font-size: 18px; }
    .payment-col .payment-address.active {
      background: #293189;
      border-color: #293189;
      color: #FFFFFF; }
      .payment-col .payment-address.active hr {
        border-color: #505050; }
      .payment-col .payment-address.active .address-name {
        color: #FFFFFF; }

.page-banner {
  height: 300px;
  background-size: cover; }
  .page-banner h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    width: 200px;
    margin: 100px 0px 0px 200px; }
  .page-banner h2 {
    color: #98ca3c;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
    max-width: 600px;
    margin: 80px 0 0 140px; }
    .page-banner h2.customer-area {
      max-width: 450px;
      margin-left: 230px;
      margin-top: 0px; }
  .page-banner h4 {
    color: #FFFFFF;
    text-transform: none;
    font-weight: normal;
    font-size: 25px;
    margin-left: 140px; }
  .page-banner .header-label {
    margin-left: 230px;
    margin-top: 80px;
    color: #fecd08;
    font-size: 24px; }

.form-spacer {
  margin: 40px 0;
  display: inline-block; }

.order-block-default .order-block {
  border: 2px solid #BCBCBC;
  padding: 10px;
  text-align: center;
  min-height: 110px; }
  .order-block-default .order-block label {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: #575757;
    margin: 0; }
  .order-block-default .order-block .order-info {
    font-weight: 900;
    color: #293189;
    font-size: 28px;
    display: block; }
  .order-block-default .order-block small {
    color: #909090;
    font-weight: normal;
    font-size: 10px;
    display: block;
    margin-top: -5px; }

.order-block-green {
  background: #98ca3c; }
  .order-block-green .order-block {
    min-height: 110px;
    padding: 10px;
    text-align: center; }
    .order-block-green .order-block label {
      text-transform: uppercase;
      font-size: 12px;
      display: block;
      font-weight: bold;
      color: #293189;
      margin: 0; }
    .order-block-green .order-block .order-info {
      text-transform: uppercase;
      font-weight: 900;
      color: #293189;
      font-size: 28px;
      display: block; }
    .order-block-green .order-block small {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 10px;
      display: block;
      margin-top: -5px;
      line-height: 10px; }

.order-price {
  color: #293189;
  font-size: 40px;
  font-weight: 900;
  position: relative; }
  .order-price small {
    position: absolute;
    top: 10px;
    font-size: 15px !important;
    left: -20px;
    color: #293189 !important; }

.order-info-header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #575757; }

.customer-order-item {
  border: 2px solid #293189;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0; }
  .customer-order-item .order-toggle {
    text-align: center;
    font-size: 25px;
    line-height: 10px;
    color: #293189;
    cursor: pointer; }
  .customer-order-item .order-info {
    text-align: center;
    color: #293189;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px; }
  .customer-order-item .order-line {
    display: inline-block;
    padding: 30px 15px; }
    .customer-order-item .order-line h3 {
      font-size: 19px;
      font-weight: 900; }
    .customer-order-item .order-line .order-status {
      margin-top: 30px;
      margin-bottom: 20px;
      text-align: center;
      opacity: 0.4; }
      .customer-order-item .order-line .order-status .image {
        min-height: 70px; }
        .customer-order-item .order-line .order-status .image img {
          max-width: 100px; }
      .customer-order-item .order-line .order-status .info {
        font-weight: bold;
        color: #575757;
        font-size: 17px;
        margin-top: 10px; }
      .customer-order-item .order-line .order-status .icon {
        font-size: 40px;
        margin-top: 20px;
        opacity: 0.4; }
      .customer-order-item .order-line .order-status.active {
        opacity: 1; }
        .customer-order-item .order-line .order-status.active .icon {
          color: #98ca3c;
          opacity: 1; }
    .customer-order-item .order-line .order-table th {
      color: #293189;
      min-width: 180px; }
    .customer-order-item .order-line .order-items-table {
      margin-top: 30px; }
      .customer-order-item .order-line .order-items-table .order-item-name {
        font-weight: bold;
        font-size: 20px;
        color: #575757; }
        .customer-order-item .order-line .order-items-table .order-item-name.text-primary {
          color: #293189; }
      .customer-order-item .order-line .order-items-table .order-item-info {
        text-transform: uppercase;
        color: #BCBCBC;
        font-size: 13px;
        font-weight: bold; }
      .customer-order-item .order-line .order-items-table .order-item-price {
        font-size: 23px;
        font-weight: bold;
        color: #575757; }
        .customer-order-item .order-line .order-items-table .order-item-price small {
          float: left;
          font-size: 15px;
          margin-top: 10px; }
        .customer-order-item .order-line .order-items-table .order-item-price.text-primary {
          color: #293189; }

.box-shipment {
  margin: 20px 0px; }

.winehouse-register {
  padding: 50px 0px;
  background: #F3F3F3; }
  .winehouse-register h3 {
    margin: 0;
    font-size: 25px; }

header {
  padding: 40px 0px 20px;
  transition: all 0.3s linear;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.7);
  color: #535353; }
  header.box-open {
    padding-bottom: 0px; }
  header.light {
    background: #FFFFFF; }
  header.dark {
    background: #535353; }
  header .main-logo {
    max-width: 200px;
    transition: all 0.3s linear; }
  header.header-shrink {
    padding: 15px 0px 0px; }
    header.header-shrink .main-logo {
      max-width: 170px; }
  header .header-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #535353;
    position: relative;
    cursor: pointer;
    height: 40px; }
    @media screen and (max-width: 767px) {
      header .header-item {
        height: 35px;
        line-height: 35px; } }
    header .header-item > div {
      float: left; }
    header .header-item .icon {
      color: #BCBCBC;
      width: 25%;
      position: relative; }
      header .header-item .icon i {
        font-size: 30px; }
    header .header-item .badge {
      background-color: #293189; }
      header .header-item .badge.absolute {
        position: absolute;
        bottom: -5px;
        right: 0px; }
    header .header-item .text {
      width: 75%;
      padding: 0px 4px; }
      header .header-item .text small {
        position: absolute;
        top: -20px;
        text-transform: none;
        color: #293189;
        font-size: 14px; }
    header .header-item .arrow {
      position: absolute;
      right: 5px;
      bottom: 0px; }
  header .navbar-toggle {
    margin: 0px; }
  header .header-popover .popover-title {
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin-top: 15px;
    color: #293189; }
  header .header-popover .popover-content {
    margin-bottom: 15px; }
  header .form-header .form-group {
    margin-bottom: 10px; }
    header .form-header .form-group label {
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      color: #535353; }
    header .form-header .form-group .form-control {
      text-transform: none;
      color: #BCBCBC; }
  header .overlay {
    background: rgba(255, 255, 255, 0.8); }

body, body * {
  font-family: 'Raleway', 'Open Sans', sans-serif; }

.preload-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  z-index: 9999; }
  .preload-overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: #CCCCCC; }

div[rel='main'] {
  margin-top: 94px;
  margin-bottom: 40px; }

.strong {
  font-weight: bold; }

.bolder {
  font-weight: 900; }

.right-space {
  margin-right: 15px; }

.top-space {
  margin-top: 15px; }

.top-space-md {
  margin-top: 25px !important; }

.top-space-lg {
  margin-top: 30px; }

.top-space-xlg {
  margin-top: 50px; }

.bottom-space {
  margin-top: 15px; }

.bottom-space-md {
  margin-top: 25px !important; }

.bottom-space-lg {
  margin-top: 30px; }

.winehouse-featured .product-image {
  text-align: center; }
  .winehouse-featured .product-image img {
    min-height: 600px; }

.cursor-pointer {
  cursor: pointer; }

.institucional-container .institucional-block {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100%; }
  .institucional-container .institucional-block.has-text {
    padding: 30px 0px; }
    .institucional-container .institucional-block.has-text .light-text {
      color: #575757;
      font-size: 13px;
      font-weight: bold; }
  .institucional-container .institucional-block h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 45px;
    margin: 80px auto;
    width: 80%;
    text-align: left; }
  .institucional-container .institucional-block .icon-col img {
    max-width: 80%;
    margin: 0 auto; }
  .institucional-container .institucional-block .icon-col .icon-text {
    margin-top: 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #293189;
    text-align: center; }

footer {
  background: #535353;
  padding: 30px 0px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold; }
  footer p {
    font-weight: normal;
    font-size: 13px; }
  footer .form-control, footer .form-control[disabled] {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    margin: 10px 0px; }
  footer .footer-block {
    margin: 25px 0px; }
    footer .footer-block.list .item {
      display: block;
      font-size: 13px;
      margin: 10px 0px; }
    footer .footer-block.social a {
      font-size: 25px;
      margin: 0px 5px 0px 0px; }
    footer .footer-block a {
      color: #FFFFFF; }
    footer .footer-block img.brand {
      margin-bottom: 15px; }
    footer .footer-block img.card-icon {
      width: 40px;
      margin-right: 5px;
      display: inline; }
    footer .footer-block img.footer-image {
      display: inline;
      height: 40px;
      margin-right: 10px; }
    footer .footer-block h4 {
      color: #fecd08;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase; }
  footer .overlay {
    background: rgba(83, 83, 83, 0.7); }

/*# sourceMappingURL=winebay.css.map */
