<!DOCTYPE html>
<html ng-app="winebay-admin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Winebay - Painel Administrativo</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/vendor/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="assets/vendor/adminlte/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/style/winebay.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="MainController">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                <span class="logo-mini"><b>W</b>B</span>
                <span class="logo-lg"><b>Wine</b>BAY</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a data-href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Acionar Menu</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a data-href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img ng-src="{{UserData.profile_image}}" class="user-image" alt="Avatar">
                                <span class="hidden-xs">{{UserData.name}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img ng-src="{{UserData.profile_image}}" class="img-circle" alt="Avatar">
                                    <p>
                                        {{UserData.name}}
                                        <!-- <small>Member since Nov. 2012</small> -->
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-flat" ng-click="DoLogout()">Sair</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar" ng-controller="SideMenuCtrl">
                <ul class="sidebar-menu" data-widget="tree">
                    <li ng-repeat="item in MenuItems" class="{{CurrentState.url==item.href?'active':''}}{{item.subitens?'treeview':''}}{{(CurrentState.url.indexOf(item.hrefBase)>=0)?' menu-open':''}}">
                        <a href="{{!item.subitens?'#!'+item.href:'#'}}">
                            <i ng-if="item.icon" class="{{item.icon}}"></i>
                            <span>{{item.text}}</span>
                            <span class="pull-right-container" ng-if="item.subitens">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" ng-if="item.subitens" ng-style="{'display':(CurrentState.url.indexOf(item.hrefBase)>=0)?'block':'none'}">
                            <li ng-repeat="subitem in item.subitens">
                                <a href="#!{{subitem.href}}">{{subitem.text}}</a>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="header">HEADER</li> -->
                </ul>
            </section>
        </aside>
        <div class="content-wrapper" ui-view></div>
        <footer class="main-footer text-right">
            <strong>Winebay &copy; 2018.</strong> Todos os direitos reservados.
        </footer>
    </div>

    <div id="preloadoverlay" class="preload-overlay">
        <i class="fa fa-sync fa-spin"></i>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            var element = document.getElementById("preloadoverlay");
            element.parentNode.removeChild(element);
        });
    </script>
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendor/adminlte/js/adminlte.min.js"></script>
    <script src="assets/scripts/required/angular.min.js"></script>
    <script src="assets/vendor/moment/moment.min.js"></script>
    <script src="assets/scripts/required/angular-sanitize.min.js"></script>
    <script src="assets/scripts/required/dir-paginate.js"></script>
    <script src="assets/scripts/required/angular-ui-router.min.js"></script>
    <script src="assets/scripts/required/angular-ui-bootstrap.min.js"></script>
    <script src="assets/scripts/required/bootbox.min.js"></script>
    <script src="assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/vendor/ng-flow/ng-flow-standalone.min.js"></script>
    <script src="assets/vendor/ng-csv/ng-csv.min.js"></script>
    <script src="assets/vendor/ngmask/ngMask.min.js"></script>

    <script src="assets/scripts/app.js"></script>
    <script src="assets/scripts/services/User.js"></script>
    <script src="assets/scripts/controllers/LoginCtrl.js"></script>
    <script src="assets/scripts/controllers/DashboardCtrl.js"></script>
    <script src="assets/scripts/controllers/SideMenuCtrl.js"></script>
    <!-- ESTRUTURA -->
    <script src="assets/scripts/controllers/estrutura/CountriesCtrl.js"></script>
    <script src="assets/scripts/controllers/estrutura/RegioesCtrl.js"></script>
    <script src="assets/scripts/controllers/estrutura/UvasCtrl.js"></script>
    <script src="assets/scripts/controllers/estrutura/TipicidadesCtrl.js"></script>
    <script src="assets/scripts/controllers/estrutura/ProdutorCtrl.js"></script>
    <script src="assets/scripts/controllers/estrutura/ImportadorCtrl.js"></script>
    <script src="assets/scripts/controllers/estrutura/EmbalagensCtrl.js"></script>
    <!--  -->
    <!-- WINECORES  -->
    <script src="assets/scripts/controllers/winehouses/WinehousesCtrl.js"></script>
    <!--  -->
    <!-- PRODUTOS  -->
    <script src="assets/scripts/controllers/produtos/ProdutosCtrl.js"></script>
    <script src="assets/scripts/controllers/produtos/CriarProdutoCtrl.js"></script>
    <script src="assets/scripts/controllers/produtos/VerProdutoCtrl.js"></script>
    <!--  -->
    <!-- MANUTENCAO -->
    <script src="assets/scripts/controllers/manutencao/ImportarExcelCtrl.js"></script>
    <!-- -->
    <!-- DADOS DO SITE -->
    <script src="assets/scripts/controllers/site/SiteGeralCtrl.js"></script>
    <script src="assets/scripts/controllers/site/SiteBannersCtrl.js"></script>
    <script src="assets/scripts/controllers/site/SiteDestaqueCtrl.js"></script>
    <script src="assets/scripts/controllers/site/SiteInstitucionalCtrl.js"></script>
    <script src="assets/scripts/controllers/site/SiteContatoCtrl.js"></script>
    <!-- -->
    <!-- INTEGRAÇÕES -->
    <script src="assets/scripts/controllers/integracao/IntegracaoMelhorEnvioCtrl.js"></script>
    <script src="assets/scripts/controllers/integracao/IntegracaoCorreioCtrl.js"></script>
    <script src="assets/scripts/controllers/integracao/IntegracaoDHLCtrl.js"></script>
    <script src="assets/scripts/controllers/integracao/IntegracaoYesPayCtrl.js"></script>
    <!--  -->
    <!-- NEWSLETTER -->
    <script src="assets/scripts/controllers/newsletter/NewsletterCtrl.js"></script>
    <!--  -->
    <!-- IMAGENS -->
    <script src="assets/scripts/controllers/imagens/ImagensCtrl.js"></script>
    <!--  -->
    <!-- CUPONS -->
    <script src="assets/scripts/controllers/coupons/CouponsCtrl.js"></script>
    <!--  -->
    <!-- FRETE -->
    <script src="assets/scripts/controllers/frete/FreteCtrl.js"></script>
    <!--  -->
    <!-- KITS -->
    <script src="assets/scripts/controllers/kits/KitsCtrl.js"></script>
    <!--  -->
</body>

</html>