<section class="content-header">
  <h1>Kits</h1>
  <ol class="breadcrumb">
      <li><i class="fas fa-truck"></i> Kits</li>
  </ol>
</section>
<section class="content container-fluid">
  <div class="box">
      <div class="box-header">
          <h3 class="box-title">Configurações de Kits</h3>
      </div>
      <div class="box-body">
          <div class="row">
              <div class="col-sm-3">
                <h4>Tamanho do kit:</h4>
                <div style="display: flex;">
                    <div class="input-group" style="margin: 0 5px 0 0;">
                        <input type="text" min="0" step="0.1" class="form-control" placeholder="minimo" ng-model="DadosFreteGeral.value" />
                    </div>
                    <div class="input-group">
                        <input type="text" min="0" step="0.1" class="form-control" placeholder="maximo" ng-model="DadosFreteGeral.value" />
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="box-footer">
          <button class="btn btn-primary btn-spaced" ng-click="SavePackage()">Salvar</button>
      </div>
      <div class="overlay" ng-if="geralLoad">
          <i class="fa fa-sync fa-spin"></i>
      </div>
  </div>
</section>