<section class="content-header">
    <h1>Destaque</h1>
    <ol class="breadcrumb">
        <li><i class="fas fa-globe"></i> Dados do Site</li>
        <li class="active">Destaque</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Banner em Destaque</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>URL</label>
                        <input type="text" class="form-control" ng-model="BannerDestaque.url" />
                    </div>
                    <div class="form-group" flow-init="{singleFile:true, target:APIBaseUrl+'/image/upload/nocrop/1/returnpath/1'}"
                        flow-upload-started="ToggleUploadFlag(true)" flow-complete="ToggleUploadFlag(false)"
                        flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()"
                        flow-file-success="DefineImagem($message, $flow)">
                        <label>Imagem: </label>
                        <div>
                            <a data-href="#" class="btn btn-xs btn-primary" ng-hide="$flow.files.length" flow-btn
                                flow-attrs="{accept:'image/*'}" ng-disabled="logoLoad">Selecionar imagem</a>
                            <a data-href="#" class="btn btn-xs btn-warning" ng-show="$flow.files.length" flow-btn
                                flow-attrs="{accept:'image/*'}" ng-disabled="logoLoad">Trocar</a>
                            <a data-href="#" class="btn btn-xs btn-danger" ng-show="$flow.files.length" ng-click="CancelaImagem($flow, BannerDestaque.image)"
                                ng-disabled="logoLoad">Remover</a>
                        </div>
                        <p><small>Envie apenas imagens JPG ou PNG.</small></p>
                        <div class="thumbnail">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=sem+imagem" ng-hide="$flow.files.length||BannerDestaque.image" />
                            <img src="{{APIBaseUrl+BannerDestaque.image}}" ng-if="BannerDestaque.image&&!$flow.files.length" />
                            <img flow-img="$flow.files[0]" ng-show="$flow.files.length" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary btn-lg pull-right" ng-click="SalvarAlteracoes()">Salvar Alterações</button>
        </div>
        <div class="overlay" ng-if="logoLoad||load">
            <i class="fa fa-sync fa-spin"></i>
        </div>
    </div>
</section>