.modal-custom-lg.modal-dialog {
    width: 100%;
    height: 100%;
}
.modal-custom-lg .modal-content {
    width: 100%;
    height: 100%;
}
.login-box, .register-box, .modal-custom-lg.modal-dialog {
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-group-autocomplete {
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 100%;
    box-shadow: 0px 5px 5px #DDD;
    border-radius: 0px;
}
.list-group-autocomplete a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.bootbox.modal {
    z-index: 9999 !important;
}
.preload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    z-index: 9999;
}
.preload-overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: #CCC;
}
.thumbnail img {
    max-width: 200px;
}
.btn-spaced {
    margin-top: 25px;
}
.right-space {
    margin-right: 15px;
}

.no-top-space {
    margin-top: 0px;
}
.no-bottom-space {
    margin-bottom: 0px;
}
.top-space {
    margin-top: 10px;
}
.top-space-lg {
    margin-top: 15px;
}
iframe {
	width: 100%;
	min-height: 600px;
}

.modal-content {
    overflow-y: auto;
}
.cursor-pointer {
    cursor: pointer;
}